* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vazir;
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh
}
.App > *:nth-child(2) {
  flex-grow: 1;
}